Repository Azzammoo10/sqli-project-tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:test, frontend:build, frontend:typecheck

backend:build:
  stage: build
  image: maven:3.9.6-eclipse-temurin-17
  script:
  - cd backend-sqli
  - mvn clean compile $MAVEN_CLI_OPTS
  artifacts:
    paths:
    - backend-sqli/target/
    expire_in: 1 hour

backend:test:
  stage: test
  image: maven:3.9.6-eclipse-temurin-17
  services:
  - name: postgres:15-alpine
    alias: postgres
  variables:
    POSTGRES_DB: sqli_db_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/sqli_db_test
  ...

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend-sqli
  - npm ci
  - npm run build
  artifacts:
    paths:
    - frontend-sqli/build/
    expire_in: 1 hour

frontend:typecheck:
  stage: test
  image: node:20-alpine
  script:
  - cd frontend-sqli
  - npm ci
  - npm run typecheck
  needs:
  - frontend:build
  allow_failure: true

Fix: TypeScript errors and configure H2 for CI tests
  .gitlab-ci.yml
  .vscode/settings.json
  backend-sqli/pom.xml
  backend-sqli/src/main/resources/application-test.properties
  frontend-sqli/app/components/ClientStatsCards.tsx
  frontend-sqli/app/components/_parts/useChefDashboardData.ts
  frontend-sqli/app/services/clientService.ts
  frontend-sqli/app/services/dashboardService.ts
  frontend-sqli/app/types/dashboard.ts
Due: backend:build, backend:test, frontend:build, frontend:typecheck

fix: correction des tests CI/CD et initialisation gracieuse de la base de données
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/Script/init/InitProjectData.java
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/Script/init/InitUserData.java
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/QRCodeService.java
  backend-sqli/src/test/java/com/sqli/stage/backendsqli/AdminControllerTest.java
  backend-sqli/src/test/java/com/sqli/stage/backendsqli/BackendSqliApplicationTests.java
  backend-sqli/src/test/java/com/sqli/stage/backendsqli/ChefProjetControllerTest.java
  backend-sqli/src/test/java/com/sqli/stage/backendsqli/DeveloperControllerTest.java
  backend-sqli/src/test/java/com/sqli/stage/backendsqli/IntegrationTest.java
  frontend-sqli/app/services/qrCodeService.ts
Due: backend:build, backend:test, frontend:build, frontend:typecheck

feat: ajout pipeline CI/CD optimisé
  .gitlab-ci.yml
Due: none

fix: correction syntaxe YAML pour GitLab CI
  .gitlab-ci.yml
Due: none

fix: gitleaks job syntax and pipeline improvements
  .gitlab-ci.yml
Due: none

chore: add SonarCloud organization property for SonarQube integration
  backend-sqli/pom.xml
Due: backend:build, backend:test

chore 2 : add SonarCloud organization property for SonarQube integration
  .gitlab-ci.yml
Due: none

test: verify gitleaks fix
  .env.example
  .gitignore
  .gitlab-ci.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yml
Due: none

sonarqube
  .gitlab-ci.yml
Due: none

sonarqube update
  .gitlab-ci.yml
Due: none

sonarqube update2
  .gitlab-ci.yml
Due: none

sonarqube update3
  .gitlab-ci.yml
Due: none

sonarqube update4
  .gitlab-ci.yml
Due: none

fix: use maven image for sonarqube full-project job to have mvn command
  .gitlab-ci.yml
Due: none

fix: use maven sonar plugin instead of sonar-scanner-cli for full-project analysis
  .gitlab-ci.yml
Due: none

refactor: split sonarqube job into separate backend and frontend jobs following sonarcloud best practices
  .gitlab-ci.yml
Due: none

fix: correction configuration sonarqube full-project
  .gitlab-ci.yml
Due: none

fix1
  .gitlab-ci.yml
Due: none

Fix SonarQube issues: Replace == with .equals() for enum comparisons
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/Script/init/InitProjectData.java
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/ImplementationService/AdminServiceImpl.java
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/ImplementationService/AnalyticsServiceImpl.java
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/ImplementationService/ProjetServiceImpl.java
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/ImplementationService/TaskserviceImpl.java
Due: backend:build, backend:test

Fix SonarQube: Replace != with Objects.equals() for Integer comparison
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/ImplementationService/TaskserviceImpl.java
Due: backend:build, backend:test

Fix
  .gitlab-ci.yml
Due: none

ci: Désactiver jobs de déploiement (pas de serveur de production)
  .gitlab-ci.yml
Due: none

feat: Améliorations pipeline CI/CD et sécurité
  .gitignore
  .gitlab-ci.yml
  .gitleaksignore
  ngrok.yml.example
Due: none

fix: Corriger ordre des stages pour security:docker-scan
  .gitlab-ci.yml
Due: none

pp
  .gitlab-ci.yml
Due: none

fix: Corriger configuration Gitleaks pour ignorer faux positifs
  .gitlab-ci.yml
  .gitleaks.toml
  .gitleaksignore
Due: none

test: verification pipeline CI/CD GitLab - mise a jour ngrok et navigation
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/QRCodeService.java
  frontend-sqli/app/services/qrCodeService.ts
  frontend-sqli/vite.config.ts
  get-usernames.sql
  ngrok.yml
  start-dev-preview.ps1
Due: backend:build, backend:test, frontend:build, frontend:typecheck

fix: remove ngrok.yml from git and update gitleaks config to ignore it
  .gitleaks.toml
  ngrok.yml
Due: none

fix: add network retry and timeout config for Docker builds - resolve npm ci failures
  .gitlab-ci.yml
  frontend-sqli/Dockerfile
Due: frontend:build, frontend:typecheck

fix: Ajouter dépendances Java pour analyse SonarQube
  .gitlab-ci.yml
Due: none

fix: Corriger format YAML du script SonarQube
  .gitlab-ci.yml
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/QRCodeService.java
Due: backend:build, backend:test

fix: Simplifier format script SonarQube (ligne unique)
  .gitlab-ci.yml
Due: none

revert: Annuler modifications SonarQube (pipelines failed)
  .gitlab-ci.yml
  backend-sqli/src/main/java/com/sqli/stage/backendsqli/service/QRCodeService.java
Due: backend:build, backend:test

Path conditions:
  backend:build: any of: backend-sqli/**/*
  backend:test: any of: backend-sqli/**/*
  frontend:build: any of: frontend-sqli/**/*
  frontend:typecheck: any of: frontend-sqli/**/*
